/* Подключаем шрифт Gilroy */
@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonst/gilroy/Gilroy-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #d8e2de;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #d8e2de !important;
  color: #222 !important;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.container {
  color: #222 !important;
  max-width: 390px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  display: block;
}

.container-without-padding {
  max-width: 390px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: block;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}
